<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gdu.semiby4.mapper.UserMapper">

  <select id="getUserByMap"
          parameterType="Map"
          resultType="UserDto">
    SELECT USER_NO, EMPLOYEE_ID, PW, EMAIL, NAME, GENDER, MOBILE, PW_MODIFY_DT, SIGNUP_DT
      FROM USER_T
    <where>
      <if test="employeeId!=null">EMPLOYEE_ID = #{employeeId}</if>
      <if test="pw!=null">AND PW = #{pw}</if>
    </where>
  </select>

  <insert id="insertUser"
          parameterType="UserDto">
    INSERT INTO USER_T (
	    USER_NO
	  , EMPLOYEE_ID
	  , PW
	  , EMAIL
	  , NAME
	  , GENDER
	  , MOBILE
	  , PW_MODIFY_DT
	  , SIGNUP_DT
    ) VALUES (
        USER_SEQ.NEXTVAL
      , #{employeeId}
      , #{pw}
	  , #{email}
      , #{name}
      , #{gender}
      , #{mobile}
      , CURRENT_DATE
      , CURRENT_DATE
    )
  </insert>
  
  <select id="getSearchCount"
          parameterType="Map"
          resultType="int">
      SELECT COUNT(*)    
        FROM USER_T U INNER JOIN BOARD_T B
          ON U.USER_NO = B.BOARD_NO 
        WHERE ${column} LIKE '%' || #{query} || '%'
  </select>
  
  <select id="getSearchList"
          parameterType="Map"
          resultMap="BoardMap">          
    SELECT BOARD_NO, USER_NO, TITLE, CONTENTS, HIT, CREATE_DT, MODIFY_DT
      FROM (SELECT ROW_NUMBER() OVER(ORDER BY BOARD_NO DESC, USER_NO ASC) AS RN, B.BOARD_NO, B.CONTENTS, U.USER_NO, U.EMAIL, B.CREATE_DT, B.HIT, B.TITLE
              FROM USER_T U INNER JOIN BOARD_T B
                ON U.USER_NO = B.USER_NO
             WHERE ${column} LIKE CONCAT(CONCAT('%', #{query}), '%'))
     WHERE RN BETWEEN #{begin} AND #{end}
  </select>
  
  
  
  

  <delete id="deleteUser">
    DELETE
      FROM USER_T
     WHERE USER_NO = #{userNo}
  </delete>
  
  
  

</mapper>
